.story{

color:#2c4530;
font-size: 20px;
text-align: center;
margin-top: 5px;
}
.textunder{

    color:#2c4530;
    font-size: 50px;
 text-align: center;
}
.container{
    
        display: flex;
        justify-content: center;
        align-items: center;



        padding: 20px;
        box-sizing: border-box;
}
.roots{


    color:#2c4530;
    font-size: 30px;

}